---
---

@import "{{ site.theme }}";
#project_tagline {display: none;}
#header_wrap {background: #174d71;}
a:link {text-decoration: underline;}
a:hover {background-color: #174d71;color: white;;text-decoration: underline;}
