---
---

@import "{{ site.theme }}";
#project_tagline {display: none;}
#header_wrap {background: #174d71;}
a:link {text-decoration: underline;}
a:focus, a:hover {background-color: #a3cfe8;color: #174d71;text-decoration: underline;}
